StockMarketExpService-1.0/StockMarketTester/Service References/StockMarketExp/StockExpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockExpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StockMarketExpService" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockExpService_GetValuesfromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesfromDB" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetValuesfromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesfromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetComboValuesfromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComboValuesfromDB" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetComboValuesfromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComboValuesfromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_CalCulateAverage_InputMessage">
    <wsdl:part name="parameters" element="tns:CalCulateAverage" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_CalCulateAverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalCulateAverageResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_importdatafromexcel_InputMessage">
    <wsdl:part name="parameters" element="tns:importdatafromexcel" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_importdatafromexcel_OutputMessage">
    <wsdl:part name="parameters" element="tns:importdatafromexcelResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_releaseObject_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseObject" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_releaseObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_createTable_InputMessage">
    <wsdl:part name="parameters" element="tns:createTable" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_createTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTableResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_insertintotable_InputMessage">
    <wsdl:part name="parameters" element="tns:insertintotable" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_insertintotable_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertintotableResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_addStockName_InputMessage">
    <wsdl:part name="parameters" element="tns:addStockName" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_addStockName_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStockNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockExpService">
    <wsdl:operation name="GetValuesfromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/GetValuesfromDB" message="tns:IStockExpService_GetValuesfromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/GetValuesfromDBResponse" message="tns:IStockExpService_GetValuesfromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComboValuesfromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/GetComboValuesfromDB" message="tns:IStockExpService_GetComboValuesfromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/GetComboValuesfromDBResponse" message="tns:IStockExpService_GetComboValuesfromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalCulateAverage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/CalCulateAverage" message="tns:IStockExpService_CalCulateAverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/CalCulateAverageResponse" message="tns:IStockExpService_CalCulateAverage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/GetResult" message="tns:IStockExpService_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/GetResultResponse" message="tns:IStockExpService_GetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="importdatafromexcel">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/importdatafromexcel" message="tns:IStockExpService_importdatafromexcel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/importdatafromexcelResponse" message="tns:IStockExpService_importdatafromexcel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="releaseObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/releaseObject" message="tns:IStockExpService_releaseObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/releaseObjectResponse" message="tns:IStockExpService_releaseObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/createTable" message="tns:IStockExpService_createTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/createTableResponse" message="tns:IStockExpService_createTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertintotable">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/insertintotable" message="tns:IStockExpService_insertintotable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/insertintotableResponse" message="tns:IStockExpService_insertintotable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStockName">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/addStockName" message="tns:IStockExpService_addStockName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/addStockNameResponse" message="tns:IStockExpService_addStockName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockExpService" type="tns:IStockExpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValuesfromDB">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/GetValuesfromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComboValuesfromDB">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/GetComboValuesfromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalCulateAverage">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/CalCulateAverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importdatafromexcel">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/importdatafromexcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseObject">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/releaseObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTable">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/createTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertintotable">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/insertintotable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStockName">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/addStockName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockExpService">
    <wsdl:port name="BasicHttpBinding_IStockExpService" binding="tns:BasicHttpBinding_IStockExpService">
      <soap:address location="http://localhost:32999/StockExpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>