StockMarketExpService-1.0/StockMarketTester/Service References/StockMarketService/StockExpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockExpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:32999/StockExpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockExpService_GetValuesfromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesfromDB" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetValuesfromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesfromDBResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_CalCulateAverage_InputMessage">
    <wsdl:part name="parameters" element="tns:CalCulateAverage" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_CalCulateAverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalCulateAverageResponse" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="IStockExpService_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockExpService">
    <wsdl:operation name="GetValuesfromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/GetValuesfromDB" message="tns:IStockExpService_GetValuesfromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/GetValuesfromDBResponse" message="tns:IStockExpService_GetValuesfromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalCulateAverage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/CalCulateAverage" message="tns:IStockExpService_CalCulateAverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/CalCulateAverageResponse" message="tns:IStockExpService_CalCulateAverage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockExpService/GetResult" message="tns:IStockExpService_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockExpService/GetResultResponse" message="tns:IStockExpService_GetResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockExpService" type="tns:IStockExpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValuesfromDB">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/GetValuesfromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalCulateAverage">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/CalCulateAverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/IStockExpService/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockExpService">
    <wsdl:port name="BasicHttpBinding_IStockExpService" binding="tns:BasicHttpBinding_IStockExpService">
      <soap:address location="http://localhost:32999/StockExpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>